body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.auth-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  text-align: center;
  color: white; /* White text */
}

h1 {
  font-size: 3em;
  margin-bottom: 10px;
}

.welcome {
  font-size: 2em;
  margin-bottom: 10px;
}

.subline {
  font-size: 1.5em;
  margin-bottom: 30px;
}

.auth-options {
  display: flex;
  justify-content: center;
}

.button-group {
  margin: 0 20px;
  text-align: center;
}

.auth-link {
  display: inline-block;
  margin: 10px 0;
  padding: 15px 30px;
  font-size: 1.5em;
  background-color: white;
  color: #1a1a4b;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #e6e6e6; /* Light grey on hover */
  }
}